* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Iceland', cursive;
    background: #000;
}

.game{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay {
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,1);
    overflow-x: hidden;
}

.overlay-content {
    position: relative;
    text-align: center;
    margin-top: 30px;
}

#menu{
    position: relative;
    margin-top: 15%;
}

#menu ul{
    list-style: none;
}

#menu li {
    margin-top: 10px;
}

#menu a {
    padding: 8px;
    text-decoration: none;
    font-size: 32px;
    color: #f1f1f1;
}

#menu a:hover {
    -webkit-animation: neon 1.5s ease-in-out infinite alternate;
    -o-animation: neon 1.5s ease-in-out infinite alternate;
    animation: neon 1.5s ease-in-out infinite alternate;
}



#loading {
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    font-size: 32px;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    /*opacity: 0;*/
    position: relative;
}

#highscore {
    position: fixed;
    color: #ffffff;
    font-size: 32px;
    bottom: 5%;
    left: 45%;
}


@-webkit-keyframes neon {
    from {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        text-shadow: 0 0 10px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #228DFF, 0 0 80px #228DFF, 0 0 90px #228DFF, 0 0 110px #228DFF, 0 0 160px #228DFF;
    }
    to {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
        text-shadow: 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #228DFF, 0 0 45px #228DFF, 0 0 50px #228DFF, 0 0 60px #228DFF, 0 0 85px #228DFF;
    }
}

@keyframes neon {
    from {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        text-shadow: 0 0 10px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #228DFF, 0 0 80px #228DFF, 0 0 90px #228DFF, 0 0 110px #228DFF, 0 0 160px #228DFF;
    }
    to {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
        text-shadow: 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #228DFF, 0 0 45px #228DFF, 0 0 50px #228DFF, 0 0 60px #228DFF, 0 0 85px #228DFF;
    }
}